.button {
      margin-top: 1.5rem;
      font-size: 16px;
      border: none;
      border-radius: 2rem;
      outline: none;
      appearance: none;
      padding: 1rem;
      cursor: pointer;
      color: #F7FBFF;
      background:  rgb(32, 33, 37);
      width: 14rem;
      &:hover {
            background: #33CCFF;
            font-weight: bold;
            box-shadow: 0 1px 8px 4px rgba(32, 33, 37, 0.25);
      }
      transition: background 0.5s linear;
}