.card {
      min-width: 180px;
      width: 100%;
      padding: 1rem;
      border: 8px solid rgb(186, 199, 223);
      cursor: pointer;
      text-align: center;
      display: grid;
      grid-gap: 1rem;
      grid-template-rows: auto 1fr auto auto;

      .tech {
            display: grid;
            grid-template-columns: repeat(5, auto);
            place-items: center;
      }

      .links {
            margin: 0 auto;
            a {
                  display: inline-block;
                  text-decoration: none;
                  margin: 0 0.5rem;
            }
      }

      .dot {
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background: #E7EBC5
      }

      &:hover {
            animation: tilt 0.5s ease-in-out forwards
      }

      p {
            font-size: 14px !important;
      }
}

@keyframes tilt {
      0% {
            transform: rotate(-5deg)
      }
      35% {
            transform: rotate(3.75deg)
      }
      50% {
            transform: rotate(-3deg)
      }
      70% {
            transform: rotate(1.25deg)
      }
      100% {
            transform: translateY(-0.25rem)
      }
}