.closebutton {
      width: 2rem;
      height: 2rem;
      background: #8F9491;
      display: grid;
      place-items: center;
      &:hover {
            box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.3)
      }
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
}