.form {
      display: grid;
      grid-gap: 1rem;
      background: rgba(27, 27, 27, 0.268);
      justify-items: center;
      padding: 2rem;
      width: 100%;

      div {
            display: grid;
            grid-gap: 1rem;
      }
}

@media screen and (min-width: 1200px) {
      .form {
            div {
                  grid-template-columns: 1fr 1fr;
            }
      }
}