.input {
      appearance: none;
      border: none;
      outline: none;
      border-left: 1px solid #8f9491;
      border-right: 1px solid #8f9491;
      padding: 1rem;
      background: none;
      color: #E7EBC5;
      &::placeholder {
            color: #E7EBC5;
      }
      display: block;
      width: 100%;
      max-width: 20rem;
}