.logo {
      display: grid;
      width: 2.5rem;
      height: 2.5rem;
      place-items: center;
      justify-self: start;
      background-color: #F7FBFF;
      cursor: pointer;

      svg {
            grid-row: 1/2;
            grid-column: 1/2;
      }

      svg {
            width: 80%;
            stroke: #202125;
      }
}

