<<<<<<< HEAD
.submitbutton {
      margin-top: 1.5rem;
      font-size: 16px;
      border: none;
      outline: none;
      appearance: none;
      padding: 1rem;
      cursor: pointer;
      color: white;
      background:  #06001C;
      &:hover {
            background: linear-gradient(90deg, #7b4397, #dc2430);
            color: #06001C;
            font-weight: bold;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3)
      }
      transition: font-weight 0.5s linear, color 0.5s linear;
      width: 8rem;
=======
.submitbutton {
      margin-top: 1.5rem;
      font-size: 16px;
      border: none;
      outline: none;
      appearance: none;
      padding: 1rem;
      cursor: pointer;
      color: white;
      background:  #06001C;
      &:hover {
            background: linear-gradient(90deg, #7b4397, #dc2430);
            color: #06001C;
            font-weight: bold;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3)
      }
      transition: font-weight 0.5s linear, color 0.5s linear;
      width: 8rem;
>>>>>>> ae3b55c0fda5c438f46c6b4cebd6008143645b37
}