@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      &::-webkit-scrollbar {
            display: none;
      }
}

main {
      display: grid;
      place-items: center;
      padding-top: 4rem;
      background: #EFF3F9;
}

section {
      height: 100%;
      width: 100%;
      transition: transform 0.5s ease-in-out;
      padding: 2rem 5vw;
      position: relative;
}

h1,
h2,
h3 {
      color: #202125;
      font-weight: 900;
      font-family: "Cabin"
}

h4 {
      font-size: 10px;
      text-align: center;
      color: slategrey;
}

h1 {
      font-size: 48px;
}

h2 {
      font-size: 32px;
}

h3 {
      font-size: 24px
}

p, a, button {
      color: #202125;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 24px;
}

@media screen and (min-width: 700px) {
      h1 {
            font-size: 72px;
      }

      h2 {
            font-size: 48px;
      }

      h3 {
            font-size: 24px
      }

      p, a, button {
            font-size: 18px;
            line-height: 32px;
      }

      section {
            padding: 2rem 5vw;
      }
}

@media screen and (min-width: 1200px) {
      main {
            padding: 0;
      }

      section {
            padding: 0 5vw;
      }

      p {
            width: 90%;
      }
}