.index {
      display: grid;
      grid-gap: 2rem;
      align-items: center;
      text-align: center;
}

@media screen and (min-width: 700px) {
      .index {
            text-align: left;
      }
}

@media screen and (min-width: 1200px) {
      .index {
            text-align: left;
            grid-template-rows: unset;
            grid-template-columns: 1fr 1fr;
      }
}