.project {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  padding: 4rem 15vw;

  a {
    text-decoration: none;
    color: #33CCFF;
    font-weight: bold;
  }
}

@media screen and (min-width: 700px) {
  .project {
    padding: 6rem 15vw 4rem 15vw;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    padding: 8rem 15vw 4rem 15vw;
  }
}


