.skills {
      display: grid;
      align-items: center;
      grid-gap: 2rem;
      text-align: center;

      .tagcloud {
            display: grid;
            place-items: center;
      }
}

@media screen and (min-width: 700px) {
      .skills {
            grid-template-columns: 1fr 0.5fr;
            text-align: left;
      }
}

@media screen and (min-width: 700px) {
      .skills {
            grid-template-columns: 1fr 1fr;
      }
}